- @villa_cell = capture do
  = "#{villa.no}. #{villa.name}"
  %br
  = villa.comment

%td.villa_cell
  = link_to(edit_battle_villa_path(@battle.id, villa.id)) do
    = @villa_cell

- villa.attacks.each do |attack|
  %td.attack_cell
    - @attack_content = capture do
      = attack.name
      - if attack.comment.present?
        %br
        = attack.comment
      %br
        - @elapsed_hour = ((@current_time - attack.created_at) / 3600).to_i
        - if attack.result != -1
          = attack.result
        - elsif @elapsed_hour < 2
          %span.elapsed{ data: { created_at: attack.created_at.to_i } } 未
        - else
          %spen.elapsed.badge{ data: { created_at: attack.created_at.to_i } } #{@elapsed_hour}時間経過

    = link_to(edit_battle_villa_attack_path(@battle.id, villa.id, attack.id)) do
      = @attack_content
%td
  = link_to 'Reserve', new_battle_villa_attack_path(@battle.id, villa.id)
