%h1 Listing clans

%table
  %thead
    %tr
      %th Code
      %th Name
      %th
      %th
      %th

  %tbody
    - @clans.each do |clan|
      %tr
        %td= clan.code
        %td= clan.name
        %td= link_to 'Show', clan
        %td= link_to 'Edit', edit_clan_path(clan)
        %td= link_to 'Destroy', clan, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Clan', new_clan_path
