= form_for @battle, |
           url: @clan.nil? ? battles_path : clan_battles_path(@clan.id) do |f|
  - if @battle.errors.any?
    #error_explanation
      %h2= "#{pluralize(@battle.errors.count, "error")} prohibited this battle from being saved:"
      %ul
        - @battle.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :code
    = f.text_field :code
  .field
    = f.label :opponent_name
    = f.text_field :opponent_name
  .field
    = f.label :base_count
    = f.number_field :base_count
  .actions
    = f.submit 'Save'
