%p#notice= notice

%p
  %b Code:
  = @battle.code
%p
  %b Name:
  = @battle.opponent_name
%p
  %b Base Count:
  = @battle.base_count

= render "refresh_button"

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th 村
      %th{ colspan: 2 } 予約
  %tbody#villa_rows
    -# Rails5 Core から content_tag_for が外れたので、同じ事を自前で実装する。※Gem化されているが、Gemを増やしたくないので。https://github.com/rails/rails/issues/18337
    - @battle.villas.each do |villa|
      = content_tag :tr, id: dom_id(villa), class: dom_class(villa) do
        = render 'villas/villa_row', { villa: villa }

= link_to 'Edit', edit_battle_path(@battle)
\|
= link_to 'Back', @battle.clan.nil? ? battles_path : clan_path(@battle.clan.id)
